*{
	box-sizing: border-box;
	font-family: arial;

}
.container{
	width: 90vw;
	height: 90vh;
	margin: 0 auto;
	padding-top: 60px;

}
.calc{
	width: 500px;
	height: 500px;
	background-color: #586bb8;
	margin: 0 auto;
	padding: 30px;
	border: 3px solid black;
	border-radius: 10px;
	position: relative;

}
.logo{
	position: absolute;
	top: -10px;
	left: 30px;
	font-size: 24px;
	color: #363945;
}
.display{
	margin: 5px 0 25px;
	width: 430px;
	height: 75px;
	border: 3px solid #535457;
	border-radius: 10px;
	text-align: right;
	background-color: #dfeef0;
}
.display[type="number"]{
	font-size: 32px;

}

.keyboard{
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.key{
	width: 65px;
	height: 65px;
	border-radius: 10px;
	margin: 10px;
	font-size: 30px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	cursor: pointer;
	font-weight: bold;
}
.key-zero{
	width: 150px;

}
.key-res{
	height: 150px;
		background-color: #3493eb;
	color: #fff;

}
.key-zero,
.key-point,
.key-sum{
	position: absolute;
	bottom: 0;
}
.key-point{
	left: 170px;
}
.key-sum{
	left: 255px;
}
.key-c{
	background-color: #eb4034;
	color: #fff;
}